
# used by Formulafile, for per environment formula fetch
# expected to be used with githbub.com/epcim/salt-sniper
export SALT_DIR=../..
export SALT_FORMULA_ROOT=$PWD/formulas
export SALT_PILLAR_ROOT=$PWD/pillars
export SALT_STATE_ROOT=$PWD/states

